<% content_for :video_background, "#{asset_path "beats2.mp4"}" %>
<% content_for :css_class, "black-background" %>
<% content_for :video_class, "centred" %>

<div class="list-new repeat-gif-background-date">
    <h3 style="" class="exo-font"><span style="margin-bottom:36px;margin-top:25px;">Hey <%= current_raver.surname %>! See you on Friday</span><br><i class="fa fa-heart" style="color:black;font-size:50px;margin-top:135px;margin-bottom:35px;"aria-hidden="true"></i><br><br>16 December 2016<br>HAMMAMET</h3>
    <div class="row">
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal <%= @class %>">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <div class="modal-text text-center">Hi <%= current_raver.surname %> <span class="fa fa-heart"></span> Do you wan't to help us build UP the Event?</div>
    <%= link_to "Yes, Aplly as volunteer", application_path, class: "btn btn-primary modal-btn-confirm" %>
    <div id="no-thanks" class="btn btn-danger modal-btn-aboard">No, Thank you</div>
  </div>

</div>