<% content_for :video_background, "#{asset_path "beats2.mp4"}" %>
<% content_for :css_class, "date-gif" %>
<% content_for :video_class, "centred" %>

<div class=" list-new">
	<p></p>
    <h3 class="mailing-list-heading"><span>Hey <%= current_raver.surname %>! See you on Friday,</span><br><i class="fa fa-heart" style="font-size:50px;margin-top:25px;"aria-hidden="true"></i><br><br>16 December 2016<br>TUNISIA</h3>
    <div class="row">
    </div>
</div>