<% content_for :video_background, "#{asset_path "beats2.mp4"}" %>
<% content_for :css_class, "black-background" %>
<% content_for :video_class, "centred" %>

<div class="list-new repeat-gif-background-date">
    <h2 style="" class="exo-font"><span style="margin-bottom:36px;margin-top:25px;">Hey <%= current_raver.surname %>! See you on Friday,</span><br><i class="fa fa-heart" style="color:black;font-size:50px;margin-top:135px;margin-bottom:35px;"aria-hidden="true"></i><br><br>16 December 2016<br>TUNISIA</h3></h2>
    <div class="row">
    </div>
</div>