<% content_for :css_class, "black-background" %>
<% content_for :deac_video, "true" %>

<div class="list-new center-gif-background-lineup">
<h2 style="margin-bottom:5px;">DIXON</h2><br>
<h3 style="font-weight:100;margin-top:0px">ALL NIGHT LONG</h3>
</div>