<% content_for :css_class, "black-background" %>


<div class="list-new center-gif-background-tickets">
<h2>Get your Blind-Release Ticket here.</h2><br>
<a class="btn transparent" href="https://www.teskerti.tn/" target="_blank" style="font-size:22px;">Blind-Release Ticket</a>
</div>