<% content_for :css_class, "black-bckground" %>

<div id="container" style="position:fixed;top:0;left:0;"></div>
<div class="list-new ">
<h2>Get your Early-Bird Ticket here.</h2><br>
<a class="btn transparent not-active" href="https://www.teskerti.tn/evenement/beats-pres/" target="_blank" style="font-size:16px;">Blind-release Ticket (soldout)</a><br><br>
<a class="btn transparent not-active" href="https://www.teskerti.tn/evenement/beats-pres/" target="_blank" style="font-size:16px;">Early-Bird Ticket (soldout)</a><br><br>
<a class="btn transparent menu-new" href="http://www.teskerti.tn/evenement/beats-pres/" target="_blank" style="font-size:22px;">1st-Release Ticket</a>
