<% content_for :css_class, "black-background" %>


<div class="list-new center-gif-background-tickets">
<h2>Get your Early-Bird Ticket here.</h2><br>
<a class="btn transparent not-active" href="https://www.teskerti.tn/evenement/beats-pres/" target="_blank" style="font-size:16px;">Blind-release Ticket (soldout)</a><br><br>
<a class="btn transparent " href="https://www.teskerti.tn/evenement/beats-pres/" target="_blank" style="font-size:22px;">Early-Bird Ticket</a>
</div>