<% content_for :pagename, "Edit guest" %>

<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Guestlist" , backend_guestlists_path %>
  <%= bc_link "edit" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Guest <span class="badge"></span></h3>
  </div>
  <div class="panel-body">
    <div class="row container">
            <%= render 'form' %>
        </div>
  </div>
</div>
