.beats-nav{
    position: fixed;
    top: 16px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    li:hover{
    	background-color:none;
    	border-bottom: 2px solid white;

    }

    a{
    	color: white;
    	text-decoration: none;

        &.nav-el{
            padding:10px 7px;
        } 
	}  

	.activ{
		border-bottom: 2px solid white;
	} 


}

